.home-wrapper {
  background-color: #000;
  height: 100vh;
  overflow: hidden;
  header {
    background-color: #000;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .logo {
        height: 100px;
        transform: translateX(8vw) translateY(4vh);
    }
    nav {
      flex-basis: 50%;

      .nav-list {
        color: white;
        display: flex;
        justify-content: space-evenly;
        list-style: none;
        font-size: 1.7rem;

        :first-child  {
        color: #ff5757;
          text-decoration: none;
        }
      }
    }
  }
  main {
    display: flex;
    justify-content: space-evenly;


    height: 85vh;
    width: 80vw;
  ;

    .text-container{
      margin: 0;
      max-width: 500px;
      align-self: center;
      transform: translateX(10vw) translateY(-10vh);

      font-family: 'League Spartan';
      font-size: 3.5rem;

      .hi {
        margin: 0;
        color: white;
      }
      .hi:after {
        content: " &";
        color: #ff5757;
      }
      .wanna {
        margin: 0;
        color: white;
      }
      .wanna:after {
        content: ".";
        color: #ff5757;
      }
    }
    .photo {
      display: flex;
      align-self: flex-end;
      max-height: 70vh;
      opacity: 0.9;
      transform: translateX(10vw);

    }
    .icon-list {
      display: flex;
      flex-direction: column;
      font-size: 3rem;
      align-self: center;
      align-content: space-evenly;
      justify-content: space-between;
      height: 25vh;
      transform: translateX(7vw);
      color: rgba(255,255,255, 0.9);
      padding: 0.7rem;
      background-color: #111;
      border-radius: 20px;

    }
  }
}